.App {
  text-align: center;
}

.plot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 20px;
  height: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
